@page
@model IndexModel
@{
    ViewData["Title"] = "Keyboard World Home page";
}

@{
    var quote = "The";
}

<div>@quote<div>

<div class="text-center">
    <h4>Welcome to Keyboard World!</h4>
    <p>The current time on the server is @Model.todaysDate</p>
</div>
